@import 'var';
.container {
	height: 100%;
	display: flex;
	justify-content: center;
	.nav-bar {
		z-index: 2;
		position: fixed;
		width: 100%;
		height: 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: white;
		.left {
			width: 30%;
			display: flex;
			justify-content: space-around;
			a {
				.nav-btn();
				div {
					.nav-btn-selected();
				}
			}
			.discover, .about, .contact {
				div {
					width: 0%;
				}
			}

		}
		.right {
			width: 20%;
			.search {
				width: 100%;
			}
		}
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 5%;
		.img {
			display: flex;
			position: relative;
			width: 20em;
			height: 20em;
			box-sizing: border-box;
			margin: 1em;
			transition-duration: 0.5s;
			&:hover {
				transform: scale(1.05);
			}
			.img-cover {
				width: 100%;
				height: 100%;
				opacity: 0.8;
				background: linear-gradient(transparent 60%, black);
				transition-duration: 0.5s;
			}
			.img-txt-con {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				position: absolute;
				z-index: 1;
				color: white;
				background: transparent;
				&:hover {
					opacity: 0.3;
				}
			}
		}
	}
}