html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #D6D6D6;
}
* {
  font-family: 'Montserrat', sans-serif;
}
@keyframes navbtnselected {
  from {
    width: 0%;
  }
  to {
    background: #4DA4B7;
    width: 100%;
  }
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.container .nav-bar {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.container .nav-bar .left {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.container .nav-bar .left a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .nav-bar .left a:hover div {
  transition-duration: 0.5s;
  width: 100%;
  background: #4DA4B7;
}
.container .nav-bar .left a div {
  transition-duration: 0.5s;
  width: 100%;
  height: 0.1em;
  background: #EA863B;
}
.container .nav-bar .left .discover div,
.container .nav-bar .left .about div,
.container .nav-bar .left .contact div {
  width: 0%;
}
.container .nav-bar .right {
  width: 20%;
}
.container .nav-bar .right .search {
  width: 100%;
}
.container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}
.container .content .img {
  display: flex;
  position: relative;
  width: 20em;
  height: 20em;
  box-sizing: border-box;
  margin: 1em;
  transition-duration: 0.5s;
}
.container .content .img:hover {
  transform: scale(1.05);
}
.container .content .img .img-cover {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: linear-gradient(transparent 60%, black);
  transition-duration: 0.5s;
}
.container .content .img .img-txt-con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
  color: white;
  background: transparent;
}
.container .content .img .img-txt-con:hover {
  opacity: 0.3;
}
