html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #D6D6D6;
}
* {
  font-family: 'Montserrat', sans-serif;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container a {
  text-decoration: none;
  outline: 0;
  color: #EA863B;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container form input {
  width: 17.6em;
  padding: 0.7em;
  border: 0.2em solid #4DA4B7;
  margin: 0.3em 0 0.3em 0;
  font-size: 0.93em;
  background-color: transparent;
  color: #4DA4B7;
  transition-duration: 0.3s;
}
.container form input:focus {
  color: #EA863B;
}
.container .btn {
  width: 19em;
  padding: 0.7em 0 0.7em 0;
  border: 0.2em solid #4DA4B7;
  margin: 0.3em 0 0.3em 0;
  font-size: 0.93em;
  background-color: transparent;
  color: #4DA4B7;
  transition-duration: 0.3s;
  cursor: pointer;
  outline: 0;
  text-align: center;
  text-decoration: none;
}
.container .btn:hover {
  color: #D6D6D6;
  background-color: #4DA4B7;
}
.container .btn:focus {
  color: #D6D6D6;
  background-color: #4DA4B7;
  outline: 0;
}
@media (max-width: 40em) {
  html {
    height: 130%;
  }
  .container {
    justify-content: flex-start;
  }
  .container form {
    width: 100%;
  }
  .container form input {
    width: 88.005%;
    font-size: 5vw;
  }
  .container form .btn {
    width: 95%;
    font-size: 5vw;
  }
}
